[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pydantic = "*"
psycopg2-binary = "*"
python-dotenv = "*"
PyJWT = "*"
passlib = "*"

[requires]
python_version = "3.12"
